{% extends "base.html" %}

{% block title %}<h1 class="text-center"> Editar Perfil {{usuario}} </h1>{% endblock %}

{% load static %}

{% block contenido %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="col-md-12 offset-md-12">
                <div class="card bg-dark text-white">
                    <div class="card-body">            
                        <h2 class="text-center"> Avatar </h2>
                        &nbsp;
                        <div class="card bg-dark text-white">
                            <center><img src="{{ url }}"width="200" height="200" alt="Descripción de la imagen"/></center>
                            <!--
                            <form action="{% url 'EditarAvatar' %}"  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <p>Imagen: <input type="file" name="imagen" accept="image/*" required></p>
                                <div class="d-grid gap-2">
                                    <button class="fw-bold btn btn btn-outline-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                                    --bs-btn-font-size: .65rem;">Guardar imagen
                                    </button>
                                </div>
                            </form>
                            -->
                            &nbsp;
                            <button type='button'>
                                <a class="navbar-brand" href="{% url 'EditarAvatar' %}">Cambiar imagen</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md-12 offset-md-12">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="text-center"> Modificar </h2>
                        &nbsp;
                        <form action="" method="POST">{% csrf_token %}
                            <table>
                                {{mi_formulario.as_table}}</p>
                            </table>
                            <input type="submit" value=" Aplicar ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}