{% extends "base.html" %}

{% block title %}<h1 class="text-center"> Bienvenidos a CoderHouse </h1>{% endblock %}

{% load static %}

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Vertically centered modal -->
<div class="container-fluid">
        <h2 class="text-center">Gracias vuelva pronto</h2>
    <center><h6>Redirigiendo automaticamente en 3 segundos...</h6></center>
</div>

<body>
    <script>
        setTimeout(function() {
            // Redirige a la URL especificada después de 5 segundos
            window.location.href = "{% url 'home' %}";
        }, 3000);  // El tiempo está en milisegundos (5000 ms = 5 segundos)
    </script>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
