{% extends 'base.html' %}

{% block title %}<h1 class="text-center"> Registro </h1>{% endblock %}

{% load static %}

{% block contenido %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h3 class="text-center"> Nuevo Usuario </h3>
                <img src="{{ MEDIA_URL }}avatares/default.png" alt="" width="0px" height="0px">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button class="fw-bold btn btn btn-outline-success"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                        --bs-btn-font-size: .65rem;">Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}